h1{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#table {
    margin-left: 3cm;
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 80%;
}
#table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #dddddd;
}
#table th {
    padding: 8px;
    text-align: center;
    background-color: #000000;
    border: 1px solid #dddddd;
    color: white;
}
#table tr {
    background-color: #f2f2f2;
}
#table tr:hover {
    background-color: #dddddd;
}
